@import "./variables";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

body {
    width: $mobile;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background: $very-dark-blue-main-bg;
    margin: 0 auto;
}

p {
    font-size: $font-size-p;
}

.nft_container {
    background: $very-dark-blue-card-bg;
    margin: 20px;
    border-radius: 20px;
}

.container {
    padding: 20px;

    h2 {
        color: $white;
        font-weight: $bold-weight;
        margin: 20px 0;
        cursor: pointer;

        &:hover {
            color: $cyan;
        }
    }
}

.nft_image {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;
    top: 16%;
    z-index: 1;
}

.img_overlay {
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 15px;
    cursor: pointer;
    padding: 20px;
    position: relative;
    z-index: 2;
    
    &:hover {
        background: $cyan;
        opacity: .5;
        
        // &::after {
        //     content: url("../../images/icon-view.svg");
        //     display: block;
        //     position: absolute;
        //     top: 45%;
        //     left: 40%;
        //     opacity: 1;
        // }

        .img_hover {
            display: inline-block;
            position: absolute;
            top: 45%;
            left: 40%;
        }
    }
}

.img_hover {
    display: none;
    z-index: 3;
    opacity: 1;
}

.content {
    color: $soft-blue;
    font-size: $font-size-p;
    font-weight: $light-weight;
    margin-bottom: 20px;
}

.ntf_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center; 
    color: $cyan;

    img {
        margin-right: 5px;
    }
}

.time {
    display: flex;
    align-items: center;
    justify-content: center; 
    color: $soft-blue;

    img {
        margin-right: 5px;
    }
}

.hr_line {
    display: inline-block;
    width: 100%;
    border: 1px solid $very-dark-blue-line;
    margin-bottom: 20px;
}

.user_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.user_img {
    width: 40px;
    height: 40px;
    border: 1px solid $white;
    border-radius: 50%;
    margin-right: 15px;
}

.user_title {
    color: $soft-blue;

    span {
        color: $white;
        cursor: pointer;

        &:hover {
            color: $cyan;
        }
    }
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    color: $soft-blue;
    
    a { 
        color: $white; 
        cursor: pointer;

        &:hover {
            color: $cyan;
        }
    }
}